[submodule "Projeto_1/awesome-regression-testing"]
    path = Projeto_1/awesome-regression-testing
    url = https://github.com/vivokas/Programas-PGATS/tree/main/Projeto_1/awesome-regression-testing.git